<div class='container mb-5'>
    <div class='row'>
        <div class='offset-lg-1 col-lg-10 col-md-12'>
            <h3 class='mt-5'>About</h3>
            <p>
                Do you lose your stuff often? <br>
                Does finding things consume your time? <br>
                Do you have multiple copies of the same thing because you lost something only to find it later on? <br>
                Yeah we all have done that. <br>
                This is your personal search engine to find your things.
                It enables you to find things with elastic search, just like you Google things!
                <br>
                I respect your privacy, your data is all safe, you can use any elastic search engine SAAS service you trust, even host your own!
                <br>
                Best of all, it's all free!
            </p>
            <h4 class='mt-4'>Privacy</h4>
            <p>
                No data is collected home-inventory. Period.
            </p>
            <h4 class='mt-4'>Bugs & Contributions</h4>
            <p>
                If you've found a bug, please checkout the repository of the project as
                mentioned in the "open-source" section on this page. If an issue for the bug
                doesn't exist already, please open a new ticket.
            </p>
            <p>
                If you want to contribute to the project, please remember I don't want to add
                features that will take a lot of my time for maintenance, let's keep it simple.
                Please open an issue on GitHub to discuss the changes!
            </p>
            <h4 class='mt-4'>Open-Source</h4>
            <p> This is an open-source project, the code can be found on
                <a href='https://github.com/atb00ker/home-inventory'>GitHub</a>.
            </p>
            <h4 class='mt-4'>License</h4>
            This project, <a href='https://github.com/atb00ker/home-inventory'> home-inventory </a>
            are under <b>MIT License</b>.
            <br>
            The site favicon of the website is contributed by
            <a href='https://commons.wikimedia.org/wiki/File:ALiAS_Logo.png'>@parthsharma2</a> under
            <b>CC BY-SA License</b>.
            <br>
            License of dependencies like Angular, Bootstrap & jQuery is mentioned in the documentation of
            the dependency itself.
        </div>
    </div>
</div>
