#es-add-home-container {
  margin:auto;
  max-width:520px;
}
#es-add-home-input {
  float: left;
  width: 80%;
  font-size: 17px;
  height: 35px;
  overflow: hidden;
  font-size: 17px;
  height: 35px;
}

#es-add-home-button {
  float: left;
  width: 19%;
  max-width: 60px;
  font-size: 15px;
  cursor: pointer;
  height: 35px !important;
  border-radius: .25rem;
  border: 0px;
  margin-left: 1%;
}
