
.es-add-storage-container {
  margin:auto;
}

.es-add-storage-input {
  float: left;
  width: calc(100% - 48px);
  max-width:520px;
  font-size: 17px;
  height: 35px;
  overflow: hidden;
  height: 35px;
}

#show-form-input {
  font-size: 17px;
  height: 35px;
  overflow: hidden;
  height: 35px;
}

.es-add-storage-button {
  float: left;
  width: 44px;
  font-size: 15px;
  cursor: pointer;
  height: 35px !important;
  border-radius: .25rem;
  border: 0px;
  margin-left: 3px;
}
