<div class="container mt-4">
    <div class="row">
        <div class="col-12 mt-4">
            <div *ngIf="displayAddStatus === 'none'" class="display-status-normal">
                You can add home, room and inventory items to elastic search server.
            </div>
            <div *ngIf="displayAddStatus === 'error'" class="display-status-error">
                Failed: {{ errorMessage }}
            </div>
            <div *ngIf="displayAddStatus === 'progress'" class="display-status-progress">
                Progress: Sending information to elastic search server...
            </div>
            <div *ngIf="displayAddStatus === 'success'" class="display-status-success">
                Success: {{ successMessage }}
            </div>
        </div>
    </div>
    <form #showForm="ngForm" class="row mt-4">
        <div class="col-12">
            <select aria-expanded="false" class="form-control general-input"
                (change)="showFormSelector($event.target.value)"
                [ngClass]="{'text-danger error-input': formToDisplay == 'error'}">
                <option value='error'> -- Select Form to display -- </option>
                <option value='home'> Add Home </option>
                <option value='room'> Add Room </option>
                <option value='inventory'> Add Inventory Item </option>
                <option value='manage-home'> Manage Homes </option>
                <option value='manage-room'> Manage Rooms </option>
                <option [attr.selected]="formToDisplay == 'manage-inventory' ? true : null" value='manage-inventory'>
                    Manage Inventory Items </option>
            </select>
        </div>
    </form>
    <div *ngIf="formToDisplay === 'home'">
        <form #addHomeForm="ngForm" class="manage-storage-container row mt-4" (ngSubmit)="addHomeClick()">
            <div class="col-12">
                <div>
                    <label for="es-add-home-input"> Add Home: </label>
                </div>
                <input name="es-add-home-input" aria-label="Enter Home Name to Add" class="input-inline-submit-btn"
                    placeholder="Sweet Home" type="text" [formControl]="addHome"
                    [ngClass]="{'text-danger error-input': addHome.invalid && addHome.touched}">
                <button aria-label="Submit add Home Form" title="Add Home"
                    [disabled]="addHome.invalid || disableSubmitBtn || !connectionStatus" type="submit"
                    class="btn-inline-form-input btn btn-primary">
                    <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 2 24 24"
                        width="24">
                        <path d="M14 10H2v2h12v-2zm0-4H2v2h12V6zm4 8v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zM2 16h8v-2H2v2z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="formToDisplay === 'manage-home'">
        <form [formGroup]="editHomeForm" class="manage-storage-container row mt-4">
            <div class="col-5">
                <div>
                    <label for="es-edit-home-select"> Select Home: </label>
                </div>
                <select name="es-edit-home-select" formControlName="selectHomeForEdit" class="form-control"
                    [ngClass]="{'text-danger error-input': editHomeForm.get('selectHomeForEdit').invalid && editHomeForm.get('selectHomeForEdit').touched}">
                    <option selected disabled value> -- Select Home -- </option>
                    <option *ngFor="let home of homeList" [ngValue]="home"> {{home}} </option>
                </select>
            </div>
            <div class="col-7">
                <div>
                    <label for="es-edit-home-input"> Edit Name: </label>
                </div>
                <input name="es-edit-home-input" aria-label="Enter New Home Name" class="input-inline-edit-btns"
                    placeholder="Sweet Home" [value]="editHomeForm.get('selectHomeForEdit').value" type="text"
                    formControlName="editedHomeName"
                    [ngClass]="{'text-danger error-input': editHomeForm.get('editedHomeName').invalid && editHomeForm.get('editedHomeName').touched}">
                <button aria-label="Edit Home" title="Edit Home" (click)="editHomeClick()"
                    [disabled]="editHomeForm.get('editedHomeName').invalid || editHomeForm.get('selectHomeForEdit').invalid || disableSubmitBtn || !connectionStatus"
                    type="submit" class="btn-inline-form-input btn btn-primary">
                    <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 21"
                        width="24">
                        <path
                            d="M2 12.88V16h3.12L14 7.12 10.88 4 2 12.88zm14.76-8.51c.33-.33.33-.85 0-1.18l-1.95-1.95c-.33-.33-.85-.33-1.18 0L12 2.88 15.12 6l1.64-1.63z" />
                    </svg>
                </button>
                <button aria-label="Delete Home" title="Delete Home"
                    [disabled]=" editHomeForm.get('selectHomeForEdit').invalid || disableSubmitBtn || !connectionStatus"
                    (click)="removeHomeClick()" class="btn-inline-form-input btn btn-danger">
                    <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="3 2 24 24"
                        width="24">
                        <path
                            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="formToDisplay === 'room'">
        <form [formGroup]="addRoomForm" class="manage-storage-container row mt-4" (ngSubmit)="addRoomClick()">
            <div class="col-6">
                <div>
                    <label for="es-add-room-home-select"> Select Home: </label>
                </div>
                <select name="es-add-room-home-select" formControlName="homeListField" class="form-control"
                    [ngClass]="{'text-danger error-input': addRoomForm.get('homeListField').invalid && addRoomForm.get('homeListField').touched}">
                    <option selected disabled value> -- Select Home -- </option>
                    <option *ngFor="let home of homeList" [ngValue]="home">{{home}}</option>
                </select>
            </div>
            <div class="col-6">
                <div>
                    <label for="es-add-room-input"> Add Room: </label>
                </div>
                <input name="es-add-room-input" aria-label="Enter Room Name" class="input-inline-submit-btn"
                    placeholder="Basement" type="text" formControlName="addRoomField"
                    [ngClass]="{'text-danger error-input': addRoomForm.get('addRoomField').invalid && addRoomForm.get('addRoomField').touched}">
                <button aria-label="Submit add Room Form" title="Room Name"
                    [disabled]="addRoomForm.invalid || disableSubmitBtn || !connectionStatus" type="submit"
                    class="btn-inline-form-input btn btn-primary">
                    <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 2 24 24"
                        width="24">
                        <path d="M14 10H2v2h12v-2zm0-4H2v2h12V6zm4 8v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zM2 16h8v-2H2v2z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="formToDisplay === 'manage-room'">
        <form [formGroup]="editRoomForm" class="manage-storage-container row mt-4">
            <div class="col-6">
                <div>
                    <label for="es-edit-room-home-select"> Select Home: </label>
                </div>
                <select name="es-edit-room-home-select" formControlName="selectHomeForEdit" class="form-control"
                    (change)="getRoomsForEditRoomForm()"
                    [ngClass]="{'text-danger error-input': editRoomForm.get('selectHomeForEdit').invalid && editRoomForm.get('selectHomeForEdit').touched}">
                    <option selected disabled value> -- Select Home -- </option>
                    <option *ngFor="let home of homeList" [ngValue]="home">{{ home }}</option>
                </select>
            </div>
            <div class="col-6">
                <div>
                    <label for="es-edit-room-select"> Select Room: </label>
                </div>
                <select name="es-edit-room-select" formControlName="selectRoomForEdit" class="form-control"
                    [ngClass]="{'text-danger error-input': editRoomForm.get('selectRoomForEdit').invalid && editRoomForm.get('selectRoomForEdit').touched}">
                    <option selected disabled value> -- Select Room -- </option>
                    <option *ngFor="let room of filteredRoomListForEditRoomForm" [ngValue]="room">{{ room }}
                    </option>
                </select>
            </div>
            <div class="col-12 mt-4">
                <div>
                    <label for="es-edit-room-input"> Edit Name: </label>
                </div>
                <input name="es-edit-room-input" aria-label="Enter New Room Name" class="input-inline-edit-btns"
                    placeholder="Kitchen" [value]="editRoomForm.get('selectRoomForEdit').value" type="text"
                    formControlName="editedRoomName"
                    [ngClass]="{'text-danger error-input': editRoomForm.get('editedRoomName').invalid && editRoomForm.get('editedRoomName').touched}">
                <button aria-label="Edit Home" title="Edit Home" (click)="editRoomClick()"
                    [disabled]="editRoomForm.get('editedRoomName').invalid || editRoomForm.get('selectHomeForEdit').invalid || disableSubmitBtn || !connectionStatus"
                    type="submit" class="btn-inline-form-input btn btn-primary">
                    <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 21"
                        width="24">
                        <path
                            d="M2 12.88V16h3.12L14 7.12 10.88 4 2 12.88zm14.76-8.51c.33-.33.33-.85 0-1.18l-1.95-1.95c-.33-.33-.85-.33-1.18 0L12 2.88 15.12 6l1.64-1.63z" />
                    </svg>
                </button>
                <button aria-label="Delete Home" title="Delete Home"
                    [disabled]=" editRoomForm.get('selectHomeForEdit').invalid || disableSubmitBtn || !connectionStatus"
                    (click)="removeRoomClick()" class="btn-inline-form-input btn btn-danger">
                    <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="3 2 24 24"
                        width="24">
                        <path
                            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="formToDisplay === 'inventory'">
        <form autocomplete="off" [formGroup]="addInventoryForm" class="manage-storage-container row mt-2"
            (ngSubmit)="addInventoryHandler()">
            <div class="col-6 mt-2">
                <div>
                    <label for="es-add-inventory-home-select"> Select Home: </label>
                </div>
                <select name="es-add-inventory-home-select" formControlName="selectHomeForItem" class="form-control"
                    (change)="getRoomsForAddInventoryForm()"
                    [ngClass]="{'text-danger error-input': addInventoryForm.get('selectHomeForItem').invalid && addInventoryForm.get('selectHomeForItem').touched}">
                    <option selected disabled value> -- Select Home -- </option>
                    <option *ngFor="let home of homeList" [ngValue]="home">{{ home }}</option>
                </select>
            </div>
            <div class="col-6 mt-2">
                <div>
                    <label for="es-add-inventory-room-select"> Select Room: </label>
                </div>
                <select name="es-add-inventory-room-select" formControlName="selectRoomForItem" class="form-control"
                    [ngClass]="{'text-danger error-input': addInventoryForm.get('selectRoomForItem').invalid && addInventoryForm.get('selectRoomForItem').touched}">
                    <option selected disabled value> -- Select Room -- </option>
                    <option *ngFor="let room of filteredRoomListForAddInventoryForm" [ngValue]="room">{{ room }}
                    </option>
                </select>
            </div>
            <div class="col-6 mt-2">
                <div>
                    <label for="es-add-inventory-name-input"> Item Name: </label>
                </div>
                <input name="es-add-inventory-name-input" aria-label="Enter Inventory Item Name" class="general-input"
                    placeholder="LG Nexus 5" data-lpignore="true" type="text" formControlName="name"
                    [ngClass]="{'text-danger error-input': addInventoryForm.get('name').invalid && addInventoryForm.get('name').touched}">
            </div>
            <div class="col-6 mt-2">
                <div>
                    <label for="es-add-inventory-count-input"> Item Count: </label>
                </div>
                <input name="es-add-inventory-count-input" aria-label="Enter Inventory Item Count" class="general-input"
                    data-lpignore="true" placeholder="1" type="text" formControlName="count"
                    [ngClass]="{'text-danger error-input': addInventoryForm.get('count').invalid && addInventoryForm.get('count').touched}">
            </div>
            <div class="col-12 mt-2">
                <div>
                    <label for="es-add-inventory-description-input"> Item Description: </label>
                </div>
                <input name="es-add-inventory-description-input" aria-label="Enter Inventory Item Description"
                    class="general-input" data-lpignore="true" placeholder="Old Phone, Working Condition" type="text"
                    formControlName="description"
                    [ngClass]="{'text-danger error-input': addInventoryForm.get('description').invalid && addInventoryForm.get('description').touched}">
            </div>
            <div class="col-12 mt-2">
                <div>
                    <label for="es-add-inventory-landmark-input"> Item Landmark: </label>
                </div>
                <input name="es-add-inventory-landmark-input" aria-label="Enter Inventory Item Landmark"
                    class="input-inline-submit-btn" data-lpignore="true" placeholder="Blue Wardrobe" type="text"
                    formControlName="landmark"
                    [ngClass]="{'text-danger error-input': addInventoryForm.get('landmark').invalid && addInventoryForm.get('landmark').touched}">
                <button aria-label="Submit add inventory item form" title="Add Inventory Item"
                    [disabled]="addInventoryForm.invalid || disableSubmitBtn || !connectionStatus" type="submit"
                    class="btn-inline-form-input btn btn-primary">
                    <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 2 24 24"
                        width="24">
                        <path d="M14 10H2v2h12v-2zm0-4H2v2h12V6zm4 8v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zM2 16h8v-2H2v2z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="formToDisplay === 'manage-inventory'">
        <div *ngIf="!uuidInQuery">
            <form #inventoryUUIDForm="ngForm" *ngIf="!uuidInQuery" class="manage-storage-container row mt-4"
                (ngSubmit)="searchInventoryByIdClick()">
                <div class="col-12">
                    <div>
                        <label for="es-edit-inventory-uuid-input"> Enter Item UUID: </label>
                    </div>
                    <input name="es-edit-inventory-uuid-input" aria-label="Enter Inventory Item UUID"
                        class="input-inline-submit-btn" placeholder="4e9e0c52bce3bacb29f291c7097c828c"
                        [formControl]="inventoryItemUUIDForEdit"
                        [ngClass]="{'text-danger error-input': inventoryItemUUIDForEdit.invalid && inventoryItemUUIDForEdit.touched}">
                    <button aria-label="Search in Inventory" title="Search in Inventory"
                        [disabled]="inventoryItemUUIDForEdit.invalid || disableSubmitBtn || !connectionStatus"
                        type="submit" class="btn-inline-form-input btn btn-primary">
                        <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="3 2 24 24"
                            width="24">
                            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5
            5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5
            11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                        </svg>
                    </button>
                </div>
            </form>
            <div class="row justify-content-center">
                <div class="col-10 text-center text-secondary mb-4 mt-4">
                    If you do not know the UUID of the inventory item you want to edit, you can
                    <a [routerLink]=[HOME_PATH]>search</a> for the item and click edit button on the search result to
                    edit it.
                </div>
            </div>
        </div>
        <form #editInventoryForm="ngForm" *ngIf="uuidInQuery" class="manage-storage-container row mt-4">
            Hello: {{ uuidInQuery }}
        </form>
    </div>
</div>
