<div class="container mt-4">
    <div class="row">
        <form #esUrlForm="ngForm" id="es-url-container" (ngSubmit)="esUrlConnectClick()">
            <span>
                <label for="es-url-input"> Enter Elastic Search Server URL: </label>
            </span>
            <input name="es-url-input" aria-label="elastic-search-url-code" id="es-url-input"
                placeholder=" {{ esDefaultUrl }}" type="text" [formControl]="esUrl"
                [ngClass]="{'text-danger error-input': esUrl.invalid && esUrl.touched}">
            <button aria-label="Connect to Elastic Search server" title="Enter elastic search server"
                [disabled]="esUrl.invalid || disableConnectBtn" type="submit" id="es-url-button"
                class="btn btn-primary">
                <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path
                        d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z" />
                </svg>
            </button>
        </form>
    </div>
</div>
