/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  overflow-x: hidden;
}

a { color: #013f82; }
label { margin: 0; }
.row { margin: auto! important; }

.icon-white {
  // Make an icon white
  fill: white;
}

/* Form Section Styles */

.general-input {
  font-size: 17px;
  height: 35px;
  overflow: hidden;
  height: 35px;
  width: 100%;
  float: left;
}

.input-inline-submit-btn {
  @extend .general-input;
  width: calc(100% - 48px);
}

.input-inline-edit-btns {
  @extend .input-inline-submit-btn;
  width: calc(100% - 96px);
}

.error-input {
  // Highlight errored form input box.
  border: 2px #d51311 solid!important;
  border-radius: 4px;
}

.btn-inline-form-input {
  float: left;
  width: 44px;
  font-size: 15px;
  cursor: pointer;
  height: 35px !important;
  border-radius: .25rem;
  border: 0px;
  margin-left: 3px;
}

/* Display Status Section Styles */

.display-status {
    border: 2px #999 solid;
    border-radius: 4px;
    text-align: center;
    padding: 10px 0;
}

.display-status-normal {
    @extend .display-status;
    border-color: #999;
    color: #212529;
}

.display-status-error {
    @extend .display-status;
    border-color: #dc3545;
    color: #dc3545;
}

.display-status-success {
    @extend .display-status;
    border-color: #28a745;
    color: #28a745;
}

.display-status-progress {
    @extend .display-status;
    border-color: #17a2b8;
    color: #17a2b8;
}
