<div class="container mt-4">
    <form [formGroup]="searchForm" class="manage-storage-container row mt-4" (ngSubmit)="searchFormClick()">
        <div class="col-12">
            <span>
                <label for="es-search-query-input"> Search Query: </label>
            </span>
            <input name="es-search-query-input" aria-label="Search" class="input-inline-submit-btn" placeholder="Search"
                type="text" formControlName="searchQuery"
                [ngClass]="{'text-danger error-input': searchForm.get('searchQuery').invalid && searchForm.get('searchQuery').touched}">
            <button aria-label="Search Inventory" title="Search Inventory"
                [disabled]="searchForm.get('searchQuery').invalid || disableConnectBtn" type="submit" id="search-button"
                class="btn-inline-form-input btn btn-primary">
                <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="3 2 24 24" width="24">
                    <path
                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                </svg>
            </button>
        </div>
        <div [ngClass]="(displayAdvanceSearchOptions) ? 'open-adv-search' : 'hidden-adv-search'">
            <div class="col-12">
                <a [routerLink]="" (click)="showAdvanceSearchOptions()">Advanced Mode</a>
            </div>
            <div class="col-6">
                <div>
                    <label for="es-search-home-select"> Select Home (optional): </label>
                </div>
                <select name="es-search-home-select" formControlName="searchInHome" class="form-control"
                    aria-label="(Optional) Select Home" (change)="getRoomsForSearchForm()"
                    [ngClass]="{'text-danger error-input': searchForm.get('searchInHome').invalid && searchForm.get('searchInHome').touched}">
                    <option selected disabled value> -- Select Home -- </option>
                    <option *ngFor="let home of homeList" [ngValue]="home">{{home}}</option>
                </select>
            </div>
            <div class="col-6">
                <div>
                    <label for="es-search-room-select"> Select Room (optional): </label>
                </div>
                <select name="es-search-room-select" formControlName="searchInRoom" aria-label="(Optional) Select Room"
                    class="form-control"
                    [ngClass]="{'text-danger error-input': searchForm.get('searchInRoom').invalid && searchForm.get('searchInRoom').touched}">
                    <option selected disabled value> -- Select Room -- </option>
                    <option *ngFor="let room of filteredRoomListForSearchForm" [ngValue]="room">{{ room }}
                    </option>
                </select>
            </div>
            <div class="col-12">
                <div>
                    <label for="es-adv-search-textarea"> Advanced Query (optional): </label>
                </div>
                <textarea name="es-adv-search-textarea" aria-label="(Optional) Type your own query"
                    formControlName="advancedSearch" class="form-control"
                    [ngClass]="{'text-danger error-input': searchForm.get('advancedSearch').invalid && searchForm.get('advancedSearch').touched}"
                    placeholder='Type your own elastic search query' rows="4">
                </textarea>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12 mt-4">
            <div *ngIf="displaySearchStatus === 'success' && listOfSearchedItems.length">
                <div class="accordion table-row" *ngFor="let searchedItem of listOfSearchedItems">
                    <div id="parentId{{ searchedItem._id }}">
                        <div class="flex-text-row">
                            <div class="col-sm-12 col-md-6">
                                {{ searchedItem._source.name }}
                            </div>
                            <div class="d-none d-sm-none d-md-block col-md-4">
                                {{ searchedItem._source.room }}
                            </div>
                            <div class="d-none d-sm-none d-md-block col-md-2">
                                x{{ searchedItem._source.count }}
                            </div>
                        </div>
                        <button (click)="showCollapsedInformation(searchedItem._id);"
                            class="btn btn-primary btn-result-full-show">
                            <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="3 2 15 15"
                                width="24">
                                <path
                                    d="M9 4.12l2.38 2.38 1.06-1.06L9 2 5.56 5.44 6.62 6.5 9 4.12zm0 9.76L6.62 11.5l-1.06 1.06L9 16l3.44-3.44-1.06-1.06L9 13.88z" />
                            </svg>
                        </button>
                        <div id="{{ searchedItem._id }}" class="collapse collapsed">
                            <div class="table-data">
                                {{ searchedItem._source.description }}
                            </div>
                            <hr>
                            <table class="table-text-row">
                                <tr>
                                    <th>Landmark</th>
                                    <td class="table-data">{{ searchedItem._source.landmark }}</td>
                                </tr>
                                <tr>
                                    <th>Home</th>
                                    <td class="table-data">{{ searchedItem._source.home }}</td>
                                </tr>
                                <tr>
                                    <th>Room</th>
                                    <td class="table-data">{{ searchedItem._source.room }}</td>
                                </tr>
                            </table>
                            <button aria-label="Edit Inventory Item" title="Edit Inventory Item"
                                (click)="editInventoryRequest(searchedItem._id)" type="submit"
                                class="btn btn-primary btn-result-full-show">
                                <svg class="icon-white" xmlns="http://www.w3.org/2000/svg" height="24"
                                    viewBox="0 0 24 21" width="24">
                                    <path
                                        d="M2 12.88V16h3.12L14 7.12 10.88 4 2 12.88zm14.76-8.51c.33-.33.33-.85 0-1.18l-1.95-1.95c-.33-.33-.85-.33-1.18 0L12 2.88 15.12 6l1.64-1.63z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="displaySearchStatus === 'success' && !listOfSearchedItems.length" class="display-status-normal">
                No such item in the inventory...
            </div>
            <div *ngIf="displaySearchStatus === 'error'" class="display-status-error">
                {{ errorMsg }}
            </div>
            <div *ngIf="displaySearchStatus === 'progress'" class="display-status-progress">
                Progress: Getting information from database...
            </div>
        </div>
    </div>
</div>
